@model IEnumerable<PZModels.Review>

@{
    ViewBag.Title = "Index";
}

<div class="mx-auto" style="background: darkgoldenrod">
    <h3 align="center" style="color:ghostwhite">@ViewBag.name's Reviews:</h3>
</div>

<div class="p-3" align="center">
    @Html.ActionLink("Create New", "Create", "Review", new { id = ViewBag.iD }, new {@class="btn btn-outline-primary"})
    @Html.ActionLink("List of Restaurants", "Index", "Restaurant", null, new {@class="btn btn-outline-secondary"})
</div>
<table class="table table-striped table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reviewer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td align="right">
                @Html.ActionLink("Edit", "Edit", new { id=item.ReviewId }, new {@class="btn btn-outline-success"}) 
                @Html.ActionLink("Details", "Details", new { id=item.ReviewId }, new {@class="btn btn-outline-info"}) 
                @Html.ActionLink("Delete", "Delete", new { id=item.ReviewId }, new{@class="btn btn-outline-danger"})
            </td>
        </tr>
    }

</table>
